# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/
core

nbproject
nbproject/project.properties
project.properties

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

*/bin
*bin
*.bin
*bin

#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock

#ant specific
dist/
